.App {
  background-image: url("/imgs/landing-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -150px;

  box-shadow: inset -75px 0 200px 200px rgba(0, 0, 0, 0.2);
}
