.App {
  background-image: url("/imgs/landing-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -30px;
  box-shadow: inset -75px 0 200px 200px rgba(0, 0, 0, 0.03);
}

@media (max-width: 1300px) {
  .App {
    background-size: 100%;
    /* background-repeat: repeat; */
    /* background-position: center; */
  }
}
